<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usavich.db.mission.dao.impl.MissionMapper">
    <resultMap id="missionInfo" type="com.usavich.entity.mission.Mission">
        <id column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="MISSION_NAME" property="missionName"/>
        <result column="MISSION_CONTENT" property="missionContent"/>
        <result column="SCORES" property="scores"/>
        <result column="EXPERIENCE" property="experience"/>
        <result column="MISSION_FLAG" property="missionFlag"/>
        <result column="LEVEL_LIMITED" property="levelLimited"/>
        <result column="MISSION_TIME" property="missionTime"/>
        <result column="MISSION_DISTANCE" property="missionDistance"/>
        <result column="CYCLE_TIME" property="cycleTime"/>
        <result column="MISSION_FROM" property="missionFrom"/>
        <result column="MISSION_TO" property="missionTo"/>
        <result column="MISSION_PLACE_PACKAGE" property="missionPlacePackageId"/>
        <result column="MISSION_STEPS" property="missionSteps"/>
        <result column="MISSION_SPEED" property="missionSpeed"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
    </resultMap>

    <resultMap id="missionPackageInfo" type="com.usavich.entity.mission.MissionPackage">
        <id column="MISSION_PACKAGE_ID" property="missionPackageId"/>
        <result column="MISSION_PACKAGE_NAME" property="missionPackageName"/>
        <result column="MISSION_PACKAGE_DESCRIPTION" property="missionPackageDescription"/>
        <result column="MISSION_ID" property="missionId"/>
        <result column="MISSION_TYPE_ID" property="missionTypeId"/>
        <result column="SEQUENCE" property="sequence"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
    </resultMap>

    <resultMap id="missionPlacePackageInfo" type="com.usavich.entity.mission.MissionPlacePackage">
        <id column="PACKAGE_ID" property="packageId"/>
        <result column="PLACE_NAME" property="placeName"/>
        <result column="PLACE_POINT" property="placePoint"/>
        <result column="SEQUENCE" property="sequence"/>
    </resultMap>

    <sql id="missionTable">
        MISSION_ID,
        MISSION_TYPE_ID,
        MISSION_NAME,
        MISSION_CONTENT,
        SCORES,
        EXPERIENCE,
        MISSION_FLAG,
        LEVEL_LIMITED,
        MISSION_TIME,
        MISSION_DISTANCE,
        CYCLE_TIME,
        MISSION_FROM,
        MISSION_TO,
        MISSION_PLACE_PACKAGE,
        MISSION_STEPS,
        MISSION_SPEED,
        LAST_UPDATE_TIME
    </sql>

    <sql id="missionPackageTable">
        MISSION_PACKAGE_ID,
        MISSION_PACKAGE_NAME,
        MISSION_PACKAGE_DESCRIPTION,
        MISSION_ID,
        MISSION_TYPE_ID,
        SEQUENCE,
        LAST_UPDATE_TIME
    </sql>

    <sql id="missionPlacePackageTable">
        PACKAGE_ID,
        PLACE_NAME,
        PLACE_POINT,
        SEQUENCE
    </sql>

    <select id="getMissionById" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE MISSION_ID = #{missionId}
    </select>

    <select id="getMissionListByMinId" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE MISSION_ID > #{minMissionId}
    </select>

    <select id="getMissionListByTime" resultMap="missionInfo">
        SELECT
        <include refid="missionTable"/>
        FROM MISSION
        WHERE LAST_UPDATE_TIME > #{lastUpdateTime}
    </select>

    <select id="getMissionPackageListById" resultMap="missionPackageInfo">
        SELECT
        <include refid="missionPackageTable"/>
        FROM MISSION_PACKAGE
        WHERE MISSION_PACKAGE_ID = #{missionPackageId}
        ORDER BY SEQUENCE ASC
    </select>

    <select id="getMissionPackageListByMinId" resultMap="missionPackageInfo">
        SELECT
        <include refid="missionPackageTable"/>
        FROM MISSION_PACKAGE
        WHERE MISSION_PACKAGE_ID > #{minMissionPackageId}
        ORDER BY MISSION_PACKAGE_ID ASC, SEQUENCE ASC
    </select>

    <select id="getMissionPackageListByTime" resultMap="missionPackageInfo">
        SELECT
        <include refid="missionPackageTable"/>
        FROM MISSION_PACKAGE
        WHERE LAST_UPDATE_TIME > #{lastUpdateTime}
        ORDER BY MISSION_PACKAGE_ID ASC, SEQUENCE ASC
    </select>

    <select id="getMissionPlacePackage" resultMap="missionPlacePackageInfo">
        SELECT
        <include refid="missionPlacePackageTable"/>
        FROM MISSION_PLACE_PACKAGE
        WHERE PACKAGE_ID = #{missionPlacePackageId}
        ORDER BY SEQUENCE ASC
    </select>

</mapper>
